/* 样式重置 */
html,
body,
#app {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

body,
* {
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #00a4ff;
}

body a:hover {
  color: orangered;
}

/**
* 所有主题公共样式
* 注意：每个主题都要引用这个样式
*/
body {
  font-family: "LXGW WenKai", "Wenquanyi Micro Hei", "Wenquanyi Micro Hei Mono", "Microsoft YaHei", "PT Sans", "-apple-system", "Liberation Mono", monospace, dejavu sans mono, Fira Code, Microsoft Yahei, Consolas, Courier New, monospace, Menlo, Monaco !important;
  --custom-app-color: #666;
  --custom-app-bg-color: #ffffff;
  color: var(--custom-app-color);
  background: var(--custom-app-bg-color);
}

/*
页面动画
https://github.com/nuxt/framework/issues/3141#issuecomment-1212899838
*/
.page-enter-active {
  transition: all 0.1s ease-out;
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.layout-enter-active {
  transition: all 0.1s ease-out;
}

.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

/* layout */
.jvue-body {
  padding: 20px;
}

.el-menu-item > div {
  margin-left: -20px !important;
}